<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Album Details</title>
</head>
<body>
<h1 th:text="${album.name}"></h1>
<p th:text="${album.description}"></p>

<h2>Images</h2>
<form th:action="@{/album/{name}/upload_image(name=${album.name})}" method="post" enctype="multipart/form-data">
  <input type="file" name="file" required>
  <button type="submit">Add Image</button>
</form>

<ul>
  <li th:each="image : ${album.images}">
    <img th:src="${image.base64Image}" alt="Image" style="max-width: 300px; height: auto;"/>

    <form th:action="@{/album/images/{imageId}/delete(imageId=${image.id})}" method="post">
      <input type="hidden" name="albumId" th:value="${album.id}">
      <button type="submit">Delete</button>
    </form>
  </li>
</ul>
</body>
</html>
